// .wrapper {
// 	@media screen and (max-width: 425px) {
// 		& {
// 			min-height: auto;
// 		}
// 	}
// }

.hidden {
	&-desktop {
		display: none !important;

		@media screen and (max-width: 425px) {
			& {
				display: flex !important;
			}
		}
	}

	&-mobile {
		@media screen and (max-width: 425px) {
			& {
				display: none !important;
			}
		}
	}
}

.button.is-white {
	display: block;
	padding: 8px 14px;
	color: #FF3C2F;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #FF3C2F;

	i {
		margin-left: 14px
	}

	&:hover, &:active {
		background: #FF3C2F;
		color: #F2F2F2;
	}
}

.group-links {
	display: flex;
	justify-content: center;

	@media screen and (max-width: 425px) {
		& {
			justify-content: space-between;
		}
	}

	a {
		display: flex;
		align-items: center;

		&:first-child {
			margin-right: 150px;

			@media screen and (max-width: 425px) {
				& {
					margin-right: 0;
				}
			}
		}

		img {
			display: block;
			width: 46.48px;
			height: 45.98px;
			margin-right: 20px;

			@media screen and (max-width: 425px) {
				& {
					width: 38.48px;
					height: 36.98px;
					margin-right: 10px;
				}
			}
		}

		span {
			display: block;
			margin-right: 20px;
			font-weight: 700;
			color: #25233C;

			@media screen and (max-width: 425px) {
				& {
					font-size: 12px;
					margin-right: 10px;
				}
			}
		}

		div.circle {
			display: block;
			min-width: 22.25px;
			min-height: 22.25px;
			background: #F2F2F2;
			border: 1px solid #FF3C2F;
			border-radius: 50%;

			@media screen and (max-width: 425px) {
				& {
					min-width: 18px;
					min-height: 18px;
				}
			}
		}

		&.is-active {
			div.circle {
				background: #FF3C2F;
			}
		}
	}
}

#link-1, #link-2,
#link-3, #link-4 {
	overflow: hidden;
    padding-bottom: 40px;
    margin-top: 20px;
}

#link-2, #link-4 {
	display: none;
}

.splide {
	margin: 0 auto;

	&__track {
		overflow: visible !important;

		@media screen and (max-width: 425px) {
			& {
				overflow: hidden !important;
			}
		}
	}

	&__pagination {
		bottom: -33px !important;

		li {
			button {
				&.splide__pagination__page {
					display: inline-block;
					width: 18px;
					height: 18px;
					background: #F2F2F2;
					opacity: 1;

					&.is-active {
						-webkit-transform: none;
						-moz-transform: none;
						-ms-transform: none;
						transform: none;
						background: #FF3C2F;
					}
				}
			}
		}
	}
}

.plan {
	width: 234px;

	@media screen and (max-width: 425px) {
		& {
			width: 300px;
		}
	}

	&-head {
		padding: 12px 13px;
		display: flex;
		justify-content: space-between;
		background: #0B0441;
		color: #FFFFFF;
		margin-bottom: 2px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		.title {
			color: #F2F2F2;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;
		}
	}

	&-body {
		padding: 12px 13px;
		background: #0B0441;
		color: #FFFFFF;
		background: linear-gradient(173.46deg, #0B0441 0%, #0F0363 100%);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		.start {
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;

			.row {
				display: flex;
				flex-flow: column;
				align-items: center;

				span.title {
					color: #FFFFFF;
					font-size: 30px;
					font-weight: 700;
					line-height: 37px;
					text-align: center;
				}

				img {
					margin: auto;
				}

				span.subtitle {
					color: #FFFFFF;
					font-size: 15px;
					font-weight: 700;
					line-height: auto;
					text-align: center;
					margin-top: 0;
				}
			}
		}

		.end {
			a {
				display: block;
				padding: 8px 14px;
				color: #FF3C2F;
				font-size: 15px;
				font-weight: 700;
				line-height: 18px;
				text-transform: uppercase;
				text-align: center;
				border-radius: 4px;
				background: #F2F2F2;

				&:hover, &:active {
					background: #FF3C2F;
					color: #F2F2F2;
					border: 1px solid #FF3C2F;
				}
			}
		}
	}
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.tabs.or, #tabs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 4px;

	& + .tab-content {
		min-height: 190px;
		margin-top: 0px;
	}

	button {
		color: #FFFFFF !important;
		background-color: #4A4D51 !important;
		border: none  !important;

		&:hover {
			background-color: darken(#4A4D51, 10%)  !important;
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(74, 77, 81, .4)  !important
		}

		i {
			margin-right: 10px
		}

		&.is-active {
			background-color: #E63C1F  !important;
			border: $background-color  !important;

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(230, 60, 31, .5)  !important
			}
		}

		&:first-child {
			position: relative !important;
		}
	}

	.separator {
		display: block;
		position: absolute;
		top: 11px;
		right: -11px;
		width: 18px;
		height: 18px;
		color: #4A4D51;
		background: #FFFFFF;
		text-align: center;
		line-height: 18px;
		border-radius: 50%;

		&::after {
			content: "o";
			position: absolute;
			left: 0px;
			right: 1px;
			top: -1px;
			font-size: 19px;
		}
	}
}

.container.new-resquest {
    .box {
		.foot.row.d-flex.j-flex-end {
			@media screen and (max-width: 425px) {
				& {
					justify-content: space-between;
					border-top: none;
					padding-top: 0;
				}
			}
		}

        &.is-grouped {
            .box {
                .foot {
                    border-top: 1px solid #d0d0e8;
                    padding-top: 18px;
                }

                .step-pane#step-1 {
					.form {
						.columns.columns-3.columns-md-2.columns-sm-1{
							@media screen and (max-width: 425px) {
								& {
									grid-column-gap: 0px;
								}
							}

							.d-flex.d-flow-column {
								.end {
									@media screen and (max-width: 425px) {
										& {
											margin-top: 5px;
										}
									}

									display: grid;
									grid-template-columns: auto 1fr;
									grid-gap: 10px;
	
									select {
										padding: 0.57rem 1.4rem 0.57rem 0.625rem;
										background-position: right 0.5rem top 50%, 0 0;
									}
								}
							}
						}
					}
				}

                .step-pane#step-2 {
					.form {
						@media screen and (max-width: 425px) {
							& {
								display: grid;
								grid-template-areas: "map"
													 "dir"
													 "urb"
													 "tower"
													 "refer";

								.map {
									grid-area: map;
								}

								.dir {
									grid-area: dir
								}

								.urb {
									grid-area: urb
								}

								.tower {
									grid-area: tower
								}

								.refer {
									grid-area: refer
								}
							}
						}

						.field {
							min-width: 100%;

							textarea {
								height: 50px;
							}
						}

						.d-flex.d-flow-column {
							.end {
								display: grid;
								grid-template-columns: auto 1fr;
								margin-top: 5px;

								select {
									height: 36px;
									font-size: 10px;
									padding: 0.57rem 1rem 0.57rem 0.2rem;
									background-position: right 0.3rem top 50%, 0 0;
									border-top-right-radius: 0;
									border-bottom-right-radius: 0;
									border-right: none;
								}

								input {
									width: 100%;
									border-top-left-radius: 0;
									border-bottom-left-radius: 0;
								}
							}
						}

						.row {
							border-top: 1px solid #d0d0e8;
							padding-top: 20px;

							p {display: none}

							@media screen and (max-width: 425px) {
								& {
									border-top: none;
									padding-top: 0;

									p {
										display: block;
										text-align: center;
										padding-bottom: 20px;

										i {
											margin-right: 10px;
										}

										&:last-child {
											padding-top: 20px;
										}
									}
								}
							}
						}
					}
				}

				.step-pane#step-4 {
					.info {
						margin-top: 40px;

						@media screen and (max-width: 425px) {
							& {
								padding: 15px;
								border: 1px solid #D0D0E8;
								border-radius: 4px;
								margin-top: 0px;
							}
						}

						> .start {
							display: grid;
							grid-template-columns: repeat(3, 1fr);

							@media screen and (max-width: 425px) {
								& {
									grid-template-columns: 1fr;
								}
							}

							.row {
								display: flex;
								flex-flow: column;

								&:first-child {
									border-right: 1px solid #D0D0E8;
									margin-right: 20px;
									padding-right: 20px;

									@media screen and (max-width: 425px) {
										& {
											border-bottom: 1px solid #D0D0E8;
											margin-bottom: 20px;
											padding-bottom: 20px;

											border-right: none;
											margin-right: 0;
											padding-right: 0;
										}
									}
								}

								&:nth-child(3) {
									border-left: 1px solid #D0D0E8;
									margin-left: 20px;
									padding-left: 20px;

									@media screen and (max-width: 425px) {
										& {
											border-top: 1px solid #D0D0E8;
											margin-top: 20px;
											padding-top: 20px;

											border-left: none;
											margin-left: 0;
											padding-left: 0;
										}
									}
								}

								&:nth-child(4) {
									grid-column: span 3;
									flex-flow: column;
									margin-top: 40px;

									p {
										font-size: 13px;
										color: #95999f;
										margin-top: 20px;
									}

									@media screen and (max-width: 425px) {
										& {
											grid-column: span 1;
											border-top: 1px solid #D0D0E8;
											margin-top: 20px;
											padding-top: 20px;

											p {
												margin-top: 10px;
												text-align: center;
											}
										}
									}
								}

								.title {
									color: #4A4D51;
									font-size: 14px;
									font-weight: 600;
									line-height: 17px;
									margin-bottom: 12px;
								}

								.subtitle {
									color: #4A4D51;
									font-size: 14px;
									font-weight: 400;
									line-height: 17px;
								}
							}
						}
					}

					> .end {
						.row {
							.start {
								p {
									font-size: 13px;
									color: #95999f;
								}
							}
						}
					}

					.confirm {
						display: none;
						grid-template-columns: repeat(2, 1fr);
						grid-template-areas: "top top"
											 "left right";

						@media screen and (max-width: 425px) {
							& {
								grid-template-columns: 1fr;
								grid-template-areas: "top"
													 "left"
													 "right";
								border: 1px solid #D0D0E8;
								padding: 20px 15px;
								border-radius: 4px;
							}
						}

						.row {
							&:nth-child(1) {
								grid-area: top;
								padding-bottom: 20px;
								margin-bottom: 20px;
								border-bottom: 1px solid #D0D0E8;
								text-align: center;

								@media screen and (max-width: 425px) {
									& {
										margin-bottom: 0
									}
								}

								span.title {
									color: #FF3C2F;
									font-size: 20px;
									font-weight: 700;
									line-height: 24px;
								}
							}

							&:nth-child(2) {
								grid-area: left;
								display: grid;
								grid-template-rows: repeat(3, 1fr);
								align-items: center;

								@media screen and (max-width: 425px) {
									& {
										grid-template-rows: repeat(2, 1fr);
									}
								}

								.start {
									text-align: center;

									.title {
										color: #000000;
										font-size: 15px;
										font-weight: 700;
										line-height: 18px;
										text-transform: uppercase;
									}
								}

								.end {
									display: flex;
									justify-content: center;

									.box {
										display: flex;
										align-items: center;
									    padding: 5px 15px;
										border: 1px solid #FF3C2F;
										border-radius: 4px;

										img {
											display: block;
											width: 37px;
											height: 37px;
											margin-right: 10px;
										}
	
										.title {
											color: #000000;
											font-size: 15px;
											font-weight: 700;
											line-height: 18px;
											text-transform: uppercase;
										}
									}
								}

								.other {
									text-align: center;

									@media screen and (max-width: 425px) {
										& {
											display: none;
										}
									}

									.title {
										color: #000000;
										font-size: 14px;
										font-weight: 600;
										line-height: 17px;
										text-align: center
									}
								}
							}

							&:nth-child(3) {
								grid-area: right;
								border-left: 1px solid #D0D0E8;
								padding-left: 20px;
								display: flex;
								flex-flow: column-reverse;

								@media screen and (max-width: 425px) {
									& {
										border-top: 1px solid #D0D0E8;
										border-left: none;
										padding-top: 20px;
										padding-left: 0;
										flex-flow: column;
										margin-top: 20px;
									}
								}

								> .start {
									margin-bottom: 20px;

									p {
										color: #9197AB;
										font-size: 14px;
										font-weight: 300;
										line-height: 17px;
										text-align: center;
									}
								}

								.end {
									margin: 20px 0;

									.ficha {
									    display: flex;
										align-items: center;
										justify-content: center;

										.start {
											margin-right: 10px;

											img {
												display: block;
												width: 93.74px;
												height: 97.36px;
												border-radius: 50%;
											}
										}

										.end {
											.d-flex.d-flow-column {
												span {
													color: #000000;
													font-size: 14px;
													font-weight: 600;
													line-height: 17px;

													& + span {
														border-top: 1px solid #D0D0E8;
														margin-top: 5px;
														padding-top: 5px;
														margin-bottom: 5px;
													}
												}
											}

											.d-flex:not(.d-flow-column) {
												a {
													display: block;

													img {
														display: block;
														width: 28px;
														height: 32px;
													}

													& + a {
														margin-left: 5px;
													}
												}
											}
										}
									}
								}
							}

							&:nth-child(4) {
								display: none;
								text-align: center;

								@media screen and (max-width: 425px) {
									& {
										display: block;
									}
								}

								.title {
									color: #000000;
									font-size: 14px;
									font-weight: 600;
									line-height: 17px;
								}
							}
						}
					}
				}
            }
        }
    }
}
