// .wrapper {
// 	@media screen and (max-width: 425px) {
// 		& {
// 			min-height: auto;
// 		}
// 	}
// }

.group-links {
	display: flex;
	justify-content: center;

	a {
		display: flex;
		align-items: center;

		&:first-child {
			margin-right: 150px;
		}

		img {
			display: block;
			width: 46.48px;
			height: 45.98px;
			margin-right: 20px;
		}

		span {
			display: block;
			margin-right: 20px;
			font-weight: 700;
			color: #25233C;
		}

		div.circle {
			display: block;
			min-width: 22.25px;
			min-height: 22.25px;
			background: #F2F2F2;
			border:1px solid #FF3C2F;
			border-radius: 50%;
		}

		&.is-active {
			div.circle {
				background: #FF3C2F;
			}
		}
	}
}

#link-1, #link-2,
#link-3, #link-4 {
	overflow: hidden;
    padding-bottom: 40px;
    margin-top: 20px;
}

#link-2, #link-4 {
	display: none;
}

.splide {
	&__track {
		overflow: visible !important;
	}

	&__pagination {
		bottom: -33px !important;

		li {
			button {
				&.splide__pagination__page {
					display: inline-block;
					width: 18px;
					height: 18px;
					background: #F2F2F2;
					opacity: 1;

					&.is-active {
						-webkit-transform: none;
						-moz-transform: none;
						-ms-transform: none;
						transform: none;
						background: #FF3C2F;
					}
				}
			}
		}
	}
}

.plan {
	&-head {
		padding: 12px 13px;
		display: flex;
		justify-content: space-between;
		background: #0B0441;
		color: #FFFFFF;
		margin-bottom: 2px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

		.title {
			color: #F2F2F2;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;
		}
	}

	&-body {
		padding: 12px 13px;
		background: #0B0441;
		color: #FFFFFF;
		background: linear-gradient(173.46deg, #0B0441 0%, #0F0363 100%);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		.start {
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;

			.row {
				display: flex;
				flex-flow: column;
				align-items: center;

				span.title {
					color: #FFFFFF;
					font-size: 30px;
					font-weight: 700;
					line-height: 37px;
					text-align: center;
				}

				img {
					margin: auto;
				}

				span.subtitle {
					color: #FFFFFF;
					font-size: 15px;
					font-weight: 700;
					line-height: auto;
					text-align: center;
					margin-top: 0;
				}
			}
		}

		.end {
			a {
				display: block;
				padding: 8px 14px;
				color: #FF3C2F;
				font-size: 15px;
				font-weight: 700;
				line-height: 18px;
				text-transform: uppercase;
				text-align: center;
				border-radius: 4px;
				background: #F2F2F2;
			}
		}
	}
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.tabs.or, #tabs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 4px;

	& + .tab-content {
		min-height: 190px;
		margin-top: 0px;
	}

	button {
		color: #FFFFFF !important;
		background-color: #4A4D51 !important;
		border: none  !important;

		&:hover {
			background-color: darken(#4A4D51, 10%)  !important;
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(74, 77, 81, .4)  !important
		}

		i {
			margin-right: 10px
		}

		&.is-active {
			background-color: #E63C1F  !important;
			border: $background-color  !important;

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(230, 60, 31, .5)  !important
			}
		}

		&:first-child {
			position: relative !important;
		}
	}

	.separator {
		display: block;
		position: absolute;
		top: 11px;
		right: -11px;
		width: 18px;
		height: 18px;
		color: #4A4D51;
		background: #FFFFFF;
		text-align: center;
		line-height: 18px;
		border-radius: 50%;

		&::after {
			content: "o";
			position: absolute;
			left: 0px;
			right: 1px;
			top: -1px;
			font-size: 19px;
		}
	}
}

.container.new-resquest {
    .box {
        &.is-grouped {
            .box {
                .foot {
                    border-top: 1px solid #d0d0e8;
                    padding-top: 18px;
                }

                .step-pane#step-1 {
					.form {
						.d-flex.d-flow-column {
							.end {
								display: grid;
								grid-template-columns: auto 1fr;
								grid-gap: 10px;

								select {
									padding: 0.57rem 1.4rem 0.57rem 0.625rem;
									background-position: right 0.5rem top 50%, 0 0;
								}
							}
						}
					}
				}

                .step-pane#step-2 {
					.form {
						.field {
							textarea {
								height: 50px;
							}
						}
						.d-flex.d-flow-column {
							.end {
								display: grid;
								grid-template-columns: auto 1fr;
								margin-top: 5px;

								select {
									height: 36px;
									font-size: 10px;
									padding: 0.57rem 1rem 0.57rem 0.2rem;
									background-position: right 0.3rem top 50%, 0 0;
									border-top-right-radius: 0;
									border-bottom-right-radius: 0;
									border-right: none;
								}

								input {
									width: 100%;
									border-top-left-radius: 0;
									border-bottom-left-radius: 0;
								}
							}
						}

						.row {
							border-top: 1px solid #d0d0e8;
							padding-top: 20px;
						}
					}
				}
            }
        }
    }
}
