@white: #FFFFFF;
@orange: #E63C1F;

#mapid {
	min-height: 50vh
}

@media screen and (max-width: 425px) {
	.wrapper > .content {
		margin-top: 0;
		padding: 16px;
		padding-top: 134px;
		background-image: url(/img/background-mobile.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-attachment: fixed;
	}
}

.tabs.is-mobile, .box.is-mobile {
	display: none;
}

.container.services {
	.button-new-service {
		font-size: 14px;
	}

	.box {
		padding: 12px;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.box.is-desktop {
		.box.view-service {
			padding: 0 0 0 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.start, .end {
				display: flex;
				align-items: center;
			}

			i.icon {
				display: block;
				width: 3.375rem;
				min-width: 4rem;

				color: @orange;
				font-size: $width;
				text-align: center;
			}

			.content {
				flex-grow: 1;
				margin-left: 18px;
			}

			span.title {
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
				margin-right: 18px
			}

			span.subtitle {
				font-size: 12px;
			}

			.row {
				display: flex;
				flex-flow: column;

				span.title {
					font-size: 12px;
				}

				span.subtitle {
					color: @orange;
					font-weight: bold;
					font-size: 20px;
				}
			}

			.button {
				display: flex;
				width: 5rem;
				height: 5rem;
				border-radius: 0px 4px 4px 0px;

				i {
					font-size: 2rem;
				}
			}
		}
	}

	.box.is-mobile {
		padding: 0;
		background: none;
		border: none;

		.box.view-service {
			.head {
				display: flex;
				justify-content: space-between;
				margin-bottom: 17px;

				span.title {
					font-size: 20px;
					font-weight: bold;
					line-height: 24px;
					text-transform: uppercase;
				}

				span.subtitle {
					color: #8F8FB1;
					font-size: 10px;
					font-weight: bold;
					line-height: 12px;
				}

				> .start {
					display: flex;
					align-items: center;

					img {
						margin-right: 14px;
					}

					.row {
						.end {
							display: flex;
							align-items: center;

							span {
								font-family: 'Roboto';
								color: #8F8FB1;
								font-size: 12px;
								font-weight: bold;
								line-height: 12px;
							}

							span.label + span {
								margin-left: 5px;
							}

							span.label {
								display: flex;
								justify-content: center;
								align-items: center;

								width: 1rem;
								height: 1rem;
								padding: 0;

								min-width: auto;
								min-height: $min-width;

								color: @white;
								font-family: 'Roboto';
								font-size: 12px;
								font-weight: bold;
								line-height: 12px;
								margin-left: 3px;
							}
						}
					}
				}

				> .end {
					display: flex;
					flex-flow: column;
					text-align: right;
		
					span.title {
						width: 6rem;
						margin-left: auto;
						font-size: 10px;
						line-height: 12px;
					}
		
					span.subtitle {
						color: @orange;
						font-size: 12px;
						font-weight: bold;
						line-height: 15px;
						margin-top: 0;
					}
				}
			}

			.body {
				.subtitle {
					color: #8F8FB1;
					font-size: 12px;
					font-weight: 400;
					line-height: 15px;
				}

				.button {
					width: fit-content;
					display: block;
					margin-top: 15px;
					margin-left: auto;
					margin-right: auto;
					font-family: 'Roboto';
				}
			}
		}
	}
}

.absolute {
	@media screen and (max-width: 586px) {
		& {
			grid-template-columns: 1fr !important;
		}
	}
}

@media screen and (max-width: 425px) {
	.container.services .box:not(:last-child) {
		margin-bottom: 5px;
	}

	.tabs.is-desktop, .box.is-desktop {
		display: none;
	}

	.box.is-mobile {
		display: block;
	}

	.tabs.is-mobile {
		display: flex;
	}
}
